HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


# Exclure les fichiers de construction
/target/
*.jar
*.war
*.ear

# Exclure les fichiers IDE
*.iml
.idea/
*.classpath
*.project
*.settings/

# Exclure les logs
*.log
*.out

# Exclure les fichiers système
.DS_Store
Thumbs.db

# Exclure les fichiers personnels
*.env

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
